<div class="control" ng-controller="ctrlCtrl">
    <div class="adminPanel">
        <ul>
            <li>
                IES admin system
            </li>
            <li>
                <a ui-sref=".users">
                    Users
                </a>
            </li>
            <li>
                <a ui-sref=".stats">
                    Statistics
                </a>
            </li>
        </ul>
    </div>
    <div class="ctrlView" ui-view autoscroll="false">
        
    </div>
</div>
