<div class="userStats">
    <input type="button" class="close" value="Close" ng-click="closeStats()">
    <div class="cont">

        <div id="infoBlock" class="section">
            <h2>
                {{user.name}}
            </h2>
            {{user.username}} | {{user.email}}<br/>
            <span id="userInfo">
                Logged in {{user.loginCounter}} times.<br/>
                Last logged in at {{lastLogin| date: "dd/MM/yy"}}.
            </span><br/>
        </div>

        <div class="section">
            <current-position data="positions">
            </current-position>
        </div>

        <div class="section">
            <current-watchlist data="watchlist">
            </current-watchlist>
        </div>

        <div class="section">
            <click-history data="clickHistory">
            </click-history>
        </div>

        <div class="section">
            <prev-positions data="prevPositions">
            </prev-positions>
        </div>
        
        <div class="section">
            <prev-watchlist data="prevWatchlist">
            </prev-watchlist>
        </div>

    </div>
</div>