<div class="loadingView">
    Loading data, please wait.
    <br/>
</div>

<ng-include src="'app/views/dashboard/searchBar.html?i=1001'">
</ng-include>

<div class="stocksArea" ng-controller="stockCtrl">
    <h1>
        My positions
    </h1>
    <div class="msg" ng-if="hasPositions == false" style="min-height:100%;">
        {{msg}}
    </div>
    <div class="container" ng-if="hasPositions == true"> 
        <div class="stock" ng-repeat="stock in pos">
            <!--<h3 style="border-bottom:1px solid #eee;" ng-click="moveToStock(stock.stock, stock.sQty)">-->
            <a ui-sref="dashboard.data({s:stock.stock, q:100})">
                <h3 style="border-bottom:1px solid #eee;">
                    {{stock.stock}}
                </h3>   
            </a>
            <span ng-click="deletePosition(stock.position, stock.stock)" style="cursor:pointer;">
                Remove
            </span>

            <table>
                <tr ng-repeat="p in stock.position">
                    <td style="width:9%">
                        <div class="label">
                            Entry date
                        </div>
                        {{p.date| date: "dd/MM/yy"}}
                    </td>
                    <td style="width:9%">
                        <div class="label">
                            Expiry date
                        </div>
                        {{editDate(p.expiry) | date: "dd/MM/yy"}}
                    </td>
                    <td style="width:9%">
                        <div class="label">
                            Entry Price
                        </div>
                        {{p.entryPrice| currency}}
                    </td>
                    <td style="width:9%">
                        <div class="label">
                            Strike
                        </div>
                        {{p.strike}}
                    </td>
                    <td style="width:9%">
                        <div class="label">
                            Current
                        </div>
                        {{currPrc[p.name].curr| currency}}
                    </td>
                    <td style="width:9%">
                        <div class="label">
                            P&L
                        </div>
                        {{pnl(currPrc[p.name].curr, p.entryPrice)}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>