<div class="loadingView">
    Loading data, please wait.
    <br/><br/><br/><br/><br/>
    <img src="gfx/loader.gif">
</div>
<ng-include src="'app/views/dashboard/searchBar.html?i=1001'">
</ng-include>

<div class="stocksArea" ng-controller="watchlistCtrl">
    <h1>
        My watch list
    </h1>
    <div class="msg" ng-if="wl !== true" style="min-height:100%;">
        {{msg}}
    </div>
    <div class="container" ng-if="wl == true">
        <div class="stock" ng-repeat="stock in arr">
            <a ui-sref="dashboard.data({s:stock.Symbol, q:100})">
                <h3 style="border-bottom:1px solid #eee;">
                    {{stock.Symbol}}
                </h3>   
            </a>  
            <div class="deletePositionPage deletePosition" ng-click="removeWL(stock, stock.Symbol)" style="right:0px; width: 150px;">
                Remove from watch list
            </div>
            <!--<span ng-click="removeWL(stock.Symbol)" style="cursor:pointer;">-->
                <!--Remove-->
            <!--</span>-->
            <table>
                <tr>
                    <td style="width:20%">
                        <div class="label">
                            Name
                        </div>
                        {{stock.CompanyName}}
                    </td>
                    <td style="width:20%">
                        <div class="label">
                            Industry
                        </div>
                        {{stock.Industry}}
                    </td>
                    <td style="width:15%">
                        <div class="label">
                            Stock Last
                        </div>
                        {{stock.Last}}$
                    </td>
                    <td style="width:15%; margin-right:0px;">
                        <div class="label">
                            Market cap
                        </div>
                        {{stock.MktCapB| number:0}}Bn
                    </td>
                    <td style="width:10%; margin-right:0px;">
                        <div class="label">
                            Best score
                        </div>
                        {{stock.Options[0].Score}}
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>