<div class="loadingView" ng-hide="wl == false">
    Loading data, please wait.
    <br/>
</div>
<ng-include src="'app/views/dashboard/searchBar.html?i=1001'">
</ng-include>

<div class="stocksArea" ng-controller="watchlistCtrl">
    <h1>
        My watch list
    </h1>
    <div class="msg" ng-if="wl !== true">
        {{msg}}
    </div>
    <div class="container" ng-if="wl == true">
        <div class="stock" ng-repeat="stock in arr">
            <h3 style="border-bottom:1px solid #ddd;" ng-click="moveToStock(stock.Symbol, 100)">
                {{stock.Symbol}}
            </h3>   
            <span ng-click="removeWL(stock.Symbol)" style="cursor:pointer;">
                Remove
            </span>
            <table>
                <tr>
                    <td style="width:25%">
                        <div class="label">
                            Name
                        </div>
                        {{stock.CompanyName}}
                    </td>
                    <td style="width:25%">
                        <div class="label">
                            Industry
                        </div>
                        {{stock.Industry}}
                    </td>
                    <td style="width:15%">
                        <div class="label">
                            Last
                        </div>
                        {{stock.Last}}$
                    </td>
                    <td style="width:10%; margin-right:0px;">
                        <div class="label">
                            Market cap
                        </div>
                        {{stock.MktCapB| number:0}}Bn
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>