<div class="searchContainer">
    <form name="SSF" ng-submit="moveToStock(searchQ)" novalidate>
        <div class="stockSearch sDiv">
            <div>
                <p>
                    Stock: 
                    <br/>
                </p>
                <!--
                                <div class="showHistoryList" ng-click="dropDownList();
                                            showMe = !showMe;">
                                    &#9660;
                                </div>-->

                <!--                <input type="text" ng-model="searchQ" class="srcQ searchQ" placeholder="Symbol" ng-keyup="closeMe = true;
                                                    focus = true;"> -->

<!--                <div class="clearNoIE" style="cursor:pointer; position: absolute; left:150px;">
                    X
                </div>-->

                <input type="text" ng-model="searchQ" class="srcQ searchQ" placeholder="Symbol" ng-focus="showIt();" ng-keyup="focus = true;" ng-keydown="moveSelect($event)"> 
                <p>
                    <span class="symE" style="position:absolute; margin-top:1px; color:red; font-size:12px;">
                    </span>
                </p>

                <!--                <ul class="searchHistoryList" ng-hide="closeMe == true;" ng-if=" searchHistory.length > 0">
                                    <li class="listTitle">
                                        Search history:
                                    </li>
                                    <li ng-repeat="q in searchHistory track by $index| limitTo:5" ng-click="clickedStock(q.q);
                                                searchQ = q.q;
                                                closeMe = true;">
                                        {{q.q}}
                                    </li>
                                </ul>-->

                <ul class="searchHistory">
                    <li class="listTitle" style="cursor: default;">
                        Search history:
                    </li>
                    <li ng-repeat="q in searchHistory track by $index| limitTo:5" ng-click="clickedStock(q.q);
                                searchQ = q.q;
                                closeMe = true;
                                focus = false;">
                        {{q.q}}
                    </li>
                    <!--                    <li class="searchItem" ng-show="uniList.length == 0" style="border-top:1px solid #6B525D;" ng-class-odd="'oddRow'">
                                            <span style="font-size:12px; color:red; font-style: italic">Symbol was not found.</span>
                                        </li>-->
                    <li class="searchItem listTitleSym" ng-show="uniList.length > 0;" style="cursor: default;">
                        Symbols:
                    </li>
                    <li class="universeLine" ng-repeat="q in uniList = (universe| searchHistory:searchQ)" ng-click="clickedStock(q.symbol);
                                        searchQ = q.symbol;
                                        focus = false;" ng-hide="existsInHistory(q.symbol) == true || uniList.length == 0">
                        {{q.symbol}}
                    </li>
                </ul>

            </div>
        </div>
        <div class="stockSearch sDiv">
            <p>
                Held quantity:<br/>
            </p>
            <input ng-init="hQty = 100" type="text" ng-model="hQty" class="hQty searchQ" ng-focus="closeMe = true; focus = false;">
            <p>
                <span class="qtyE" style="position:absolute; margin-top:1px; color:red; font-size:12px;">
                </span>
            </p>
        </div>
        <div class="stockSearch sDiv">
            <p>
                Target Price:<br/>
            </p>
            <input type="text" class="searchQ inputs" ng-focus="closeMe = true;
                                        focus = false"> 
        </div>
        <div class="stockSearch sDiv">
            <p>
                Term:<br/>
            </p>
            <input type="text" class="searchQ inputs" ng-focus="closeMe = true;
                                        focus = false"> 
        </div>
        <input type="submit" value="Find">
    </form>
</div>